<div class="dialog">
    <div *ngIf="!isConfirmationScreen">
        <h2 mat-dialog-title>Patient Record</h2>
        <div *ngIf="alertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success ! </strong> Data has been updated
        </div>
        <div *ngIf="alertUserNotFound" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Failed to Update Data User Not Found!
        </div>
        <div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Internal Error Occured, Please Contact Administrator!
        </div>
        <div *ngIf="alertEmailDuplicateExist" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Email Already Used Please Enter Another!
        </div>
        <div *ngIf="alertContactNumDuplicateExist" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Contact Number Already Used Please Enter Another!
        </div>
        <div *ngIf="alertEmailContactNumDuplicateExist" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Contact Number and Email Already Used Please Enter Another!
        </div>
        <mat-dialog-content class="mat-typography">
            <div class="example-container">

                <mat-tab-group animationDuration="1000ms">

                    <mat-tab label="Edit">
                        <br>
                        <br>
                        <div class="form-container">
                            <form [formGroup]="recordForm" (submit)="submitEditRecordForm()">
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> First Name
                                    </mat-label>
                                    <input  matInput 
                                            formControlName="firstName" 
                                            (keyup)="setFirstname($event.target.value)" 
                                            required>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Middle Name
                                    </mat-label>
                                    <input  matInput
                                            formControlName="middleName"
                                            (keyup)="setMiddlename($event.target.value)">
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Last Name
                                    </mat-label>
                                    <input  matInput
                                            formControlName="lastName"
                                            (keyup)="setLastname($event.target.value)"
                                            required>
                                </mat-form-field>
                
                                <br>
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Email
                                    </mat-label>
                                    <input  matInput
                                            formControlName="email"
                                            email
                                            type="email"
                                            class="form-control" 
                                            (keyup)="setEmail($event.target.value)"
                                            required>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field appearance="fill">
                                    <mat-label>Birthdate</mat-label>
                                    <input  matInput
                                            [max]="maxDate"
                                            formControlName="birthdate"
                                            [matDatepicker]="picker"
                                            value="yyyy-mm-dd"
                                            (dateChange)="setBirthdate($event.target.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Gender
                                    </mat-label>
                                    <select matNativeControl
                                            formControlName="gender"
                                            (change)="setGender($event.target.value)"
                                            required>
                                        <option selected disabled></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </mat-form-field>
                
                                <br>
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Contact Number
                                    </mat-label>
                                    <input  matInput 
                                            formControlName="contactNumber"
                                            (keyup)="setContactNumber($event.target.value)"
                                            pattern="[0-9]{11}"
                                            maxlength=11 
                                            required>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label> Address
                                    </mat-label>
                                    <input  matInput 
                                            formControlName="address" 
                                            (keyup)="setAddress($event.target.value)" 
                                            required>
                                </mat-form-field>
                
                            </form>

                        </div>
                        <button mat-flat-button *ngIf="isEdit" [disabled]="recordForm.invalid"  mat-button (click)="submitEditRecordForm()" color="accent" >Update</button>

                    </mat-tab>


                    <mat-tab label="Addresses">
                        <br>

                        <div>

                            <button (click)="createAddress()" mat-flat-button color="primary">Add Address</button>


                        </div>


                        <form [formGroup]="addressForm">

                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Address </mat-label>
                                <input matInput formControlName="address">
                            </mat-form-field>



                            <div formArrayName="addressArray">

                                <div *ngFor="let address of addressArray.controls;let i = index">

                                    <mat-form-field class="form-field">
                                        <mat-label> Address
                                        </mat-label>
                                        <input matInput [formControlName]="i" required>
                                    </mat-form-field>
                                </div>


                            </div>

                        </form>
                        <button (click)="submitAddress()" mat-flat-button color="accent">Submit</button>
                        
                    </mat-tab>

                    <br>





                </mat-tab-group>

            </div>





        </mat-dialog-content>

    

    <mat-dialog-actions align="end">

        <button mat-flat-button color="warn" mat-dialog-close>Close</button>
        <button *ngIf="data.status==0" (click)="showConfirmationScreen()" mat-flat-button
            color="accent">Activate</button>
        <button *ngIf="data.status==1" (click)="showConfirmationScreenDeactivate()" mat-flat-button
            color="primary">Deactivate</button>

        <button *ngIf="!isEdit&&data.status==1" mat-button (click)="editRecord()">Edit Record</button>
        <button *ngIf="isEdit" mat-button (click)="closeEdit()">Close Edit</button>


    </mat-dialog-actions>
    </div>



    <div *ngIf="isConfirmationScreen" class="form-container">
        <mat-dialog-content class="mat-typography">
            <h2 mat-dialog-title>Attention!</h2>
            <mat-dialog-content>

                <p>{{ actionSelected ? "Would you like to activate this patient?" : "Would you like to deactivate this
                    patient?" }} </p>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-button (click)="showConfirmationScreen()"> Cancel</button>
                <button (click)="activateRecord()" *ngIf="actionSelected" mat-dialog-close mat-raised-button
                    color="primary">Activate</button>
                <button (click)="deactivateRecord()" *ngIf="!actionSelected" mat-dialog-close mat-raised-button
                    color="primary">Deactivate</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
</div>