
.column {
  flex: 50%;
  position:fixed;
    left: 40%;
}

.confirm{
  position:fixed;
    top: 40%;
    left: 10%;
}

.submit-form {
  position: relative; /* or absolute */
  top: 5%;
  left: 100%;
}